In [ ]:
import pandas as pd
df = pd.read_csv("CO2 Emissions_Canada.csv")
df.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7385 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 692.5+ KB

In [ ]:
df.isna().sum()

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

In [ ]:
df_2 = df['CO2 Emissions(g/km)'].unique()
df_2

array([196, 221, 136, 255, 244, 230, 232, 267, 212, 225, 239, 193, 359,
       338, 354, 202, 214, 235, 251, 217, 262, 258, 265, 224, 288, 363,
       242, 304, 290, 336, 407, 347, 409, 306, 308, 293, 285, 281, 300,
       292, 209, 237, 314, 356, 332, 380, 388, 437, 200, 181, 228, 213,
       246, 191, 317, 260, 253, 320, 370, 274, 324, 278, 283, 264, 250,
       189, 218, 207, 248, 294, 382, 340, 322, 377, 271, 269, 276, 179,
       192, 177, 163, 259, 272, 366, 334, 344, 362, 414, 432, 411, 419,
       435, 413, 229, 184, 270, 299, 277, 329, 173, 182, 172, 159, 186,
       222, 301, 198, 195, 168, 331, 166, 156, 138, 373, 350, 396, 360,
       386, 368, 488, 421, 216, 346, 254, 402, 315, 343, 318, 175, 152,
       161, 205, 165, 170, 162, 126, 297, 110, 145, 143, 345, 280, 310,
       223, 147, 361, 400, 342, 129, 352, 194, 256, 327, 398, 313, 326,
       358, 286, 275, 393, 389, 131, 108, 384, 208, 124, 180, 296, 140,
       379, 307, 337, 238, 357, 227, 416, 418, 282, 226, 174, 219, 115,
       120, 287, 206, 412, 453, 423, 133, 426, 375, 273, 150, 183, 178,
       176, 122, 185, 249, 197, 365, 390, 204, 201, 211, 247, 240, 257,
       266, 263, 408, 231, 241, 210, 245, 284, 321, 215, 233, 323, 199,
       268, 252, 289, 325, 302, 261, 220, 279, 335, 167, 160, 190, 236,
       441, 465, 298, 328, 295, 188, 187, 157, 312, 243, 339, 353, 171,
       364, 203, 305, 303, 309, 341, 153, 130, 234, 291, 155, 169, 158,
       311, 420, 452, 132, 139, 371, 417, 476, 369, 355, 401, 348, 319,
       330, 403, 404, 367, 134, 137, 104, 111, 351, 151, 450, 430, 349,
       438, 445, 121, 387, 333, 164, 406, 114, 154, 103,  96, 428, 461,
       372, 467, 128, 141, 149, 105, 135, 378, 405, 522, 118, 102, 454,
       464, 473, 410, 397, 113, 383, 381, 316, 117, 487, 493, 148, 109,
       392,  99, 485, 395, 106, 385])

### BST ALGORITHM

In [ ]:
class BST:
  def __init__(self, key):
    self.key = key
    self.left = None
    self.right = None

  def insert(self, data):
    if self.key is None:
      self.key = data
      return
    if self.key > data:
      if self.left:
        self.left.insert(data)
      else:
        self.left = BST(data)
    else:
      if self.right:
        self.right.insert(data)
      else:
        self.right = BST(data)

  def search(self,data):
    if self.key == data:
      print("Node ditemukan")
      return
    if data < self.key:
      if self.left:
        self.left.search(data)
      else:
        print('Node tidak ditemukan')
    else:
      if self.right:
        self.right.search(data)
      else:
        print('Node tidak ditemukan')

  def preorder(self):
    print(self.key, end=' ')
    if self.left:
      self.left.preorder()
    if self.right:
      self.right.preorder()

  def inorder(self):
    if self.left:
      self.left.inorder()
    print(self.key, end=" ")
    if self.right:
      self.right.inorder()

  def postorder(self):
    if self.left:
      self.left.postorder()
    if self.right:
      self.right.postorder()
    print(self.key, end=" ")

    
  def delete(self,data):
    if self.key is None:
      print('Tree kosong')
      return
    if data < self.key:
      if self.left:
        self.left = self.left.delete(data)
      else:
        print("Node tidak ada di tree")
    elif data > self.key:
      if self.right:
        self.right = self.right.delete(data)
      else:
        print("Node tidak ada di tree")
    else:
      if self.left is None:
        temp = self.right
        self = None
        return temp
      if self.right is None:
        temp = self.left
        self = None
        return temp
      node = self.right
      while node.left:
        node = node.left
      self.key = node.key
      self.right = self.right.delete(node.key)
    return self

  def min_node(self):
    current = self
    while current.left:
      current = current.left
    print('Node minimum adalah : ',current.key)

  def max_node(self):
    current = self
    while current.right:
      current = current.right
    print('Node maksimum adalah : ',current.key)

### Implementasi BST pada sampel data

In [ ]:
list_1 = df_2.tolist()
data_1 = list_1[0:10]
data_1

[196, 221, 136, 255, 244, 230, 232, 267, 212, 225]

#### Insert Data

In [ ]:
root = BST(210)
data1 = data_1
for i in data1:
    root.insert(i)

#### Penelusuran Data

In [ ]:
print('Preorder =',end=' ')
root.preorder()

Preorder = 210 196 136 221 212 255 244 230 225 232

In [ ]:
print('Inorder =',end=' ')
root.inorder()

Inorder = 136 196 210 212 221 225 230 232 244 255

In [ ]:
print('Postorder =',end=' ')
root.postorder()

Postorder = 136 196 212 225 232 230 244 255 221 210

#### Search & Insert

In [ ]:
root.search(112)

Node tidak ditemukan

In [ ]:
root.insert(112)
root.search(112)

Node ditemukan

#### Delete & Search

In [ ]:
root.delete(267)
root.search(267)

Node tidak ditemukan

#### Minimum & Maksimum

In [ ]:
root.min_node()

Node minimum adalah :  136

In [ ]:
root.max_node()

Node maksimum adalah :  267

### Implementasi BST pada CO2 Emission DataSet

Mencari data minimum dan maksimum polusi CO2

In [ ]:
root = BST(245)
data1 = df_2
for i in data1:
    root.insert(i)

#### Minimum CO2 Emission

In [ ]:
root.min_node()

Node minimum adalah :  96

#### Maksimum CO2 Emission

In [ ]:
root.max_node()

Node maksimum adalah :  522